{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin_custom/admin_expire.css' %}">
{% endblock %}

{% block extrahead %}
<script src="{% static 'admin_custom/admin_expire.js' %}"></script>

<script>
    // SEMPRE como STRING, para evitar erro de parse no JS
    window.ADMIN_TIME_REMAINING = "{{ request.admin_time_remaining|default:'0' }}";
</script>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div id="admin-expire-alert"></div>
{% endblock %}
