/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');

/* Mensagens */
.msg-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* ===== CONTAINER LOGIN ===== */
.perfil-container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* BOXES */
.box-login,
.box-register {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.box-login.ativo,
.box-register.ativo {
  display: flex;
}

/* FORM */
form { width: 100%; }

/* Inputs */
input {
  width: 100%;
  padding: 11px 14px;
  margin: 7px 0;
  border-radius: 10px;
  border: 1.5px solid #b1b1b1;
  background: #ededed;
}

/* Botões */
button {
  width: 90%;
  padding: 11px;
  margin-top: 15px;
  border-radius: 30px;
  background-color: #FEECD6;
  font-weight: bold;
}

/* ÍCONES */
.icon-profile-login,
.icon-profile-register {
  width: 90px;
  margin-bottom: 20px;
}
