/* Wrapper */
.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  position: relative;
  margin-right: 296px;
}

/* Barra igual da Home */
.search {
  display: flex;
  align-items: center;
  background: #5c3b1e; /* MESMA cor da Home */
  border-radius: 25px;
  padding: 8px 18px;
  width: 100%;
}

/* SEARCH BAR */
/* Remove o fundo branco padrão do input[type=search] nos navegadores */
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #f7e7cf;
}

/* Ícone */
.search .material-symbols-outlined {
  color: #f7e7cf; /* MESMA cor da Home */
  font-size: 22px;
  margin-right: 8px;
}

/* Input */
.searchInput {
  flex: 1;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  font-size: 1rem;
  color: #f7e7cf; /* MESMA cor da Home */
}

.searchInput::placeholder {
  color: #5c3b1e; 
}

/* Caixa de resultados */
.results-box {
  position: absolute;
  top: 45px;
  width: 100%;
  background: #5c3b1e;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: none;
  z-index: 999;
}

/* Items */
.result-item {
  padding: 8px 0;
  cursor: pointer;
}

.result-item h3 {
  margin: 0;
  color: #5c3b1e;
  font-size: 1rem;
}

.result-item p {
  margin: 2px 0 0;
  color: #7a5a45;
  font-size: .85rem;
}

.result-item:hover {
  background: rgba(0,0,0,0.05);
  border-radius: 6px;
}