/* Wrapper */
.search-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  position: relative;
  margin-right: 296px;
}

/* Barra igual da Home */
.search {
  display: flex;
  align-items: center;
  background: #5c3b1e; /* MESMA cor da Home */
  border-radius: 25px;
  padding: 8px 18px;
  width: 100%;
}

/* SEARCH BAR */
/* Remove o fundo branco padrão do input[type=search] nos navegadores */
input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #5c3b1e !important; /* marrom */
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #f7e7bc; /* amarelo clarinho */
}

/* Ícone */
.search .material-symbols-outlined {
  color: #f7e7cf; /* MESMA cor da Home */
  font-size: 22px;
  margin-right: 8px;
}

/* Input */
.searchInput {
    flex: 1;
    border: none;
    outline: none;
    background: #5c3b1e; /* marrom */
    color: #f7e7bc;     /* amarelo clarinho */
    font-size: 1rem;
}

/* Placeholder */
.searchInput::placeholder {
    color: #fcf1d5; /* amarelo clarinho */
    opacity: 0.8;
}

/* Caixa de resultados */
.results-box {
  position: absolute;
  top: 55px; /* ou até 60px se quiser mais afastado */
  left: 0;
  width: 100%;
  background: #5c3b1e;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: none;
  z-index: 999;

  max-height: 500px;      /* define a altura que você quiser */
  overflow-y: auto;       /* ativa a rolagem apenas dentro dessa div */
  overflow-x: hidden;     /* evita scroll horizontal */
  
  box-sizing: border-box;
  padding-right: 12px;    /* espaço para scrollbar */
}

.results-box::-webkit-scrollbar {
  width: 7px;
}

/* parte da rolagem dos resultados */
.results-box::-webkit-scrollbar-thumb {
  background: #d6b08a;    /* cor da barra */
  border-radius: 5px;
}

/* Items */
.result-item {
  padding: 8px 0;
  cursor: pointer;
}

.result-item h3 {
  margin: 0;
  color: #5c3b1e;
  font-size: 1rem;
}

.result-item p {
  margin: 2px 0 0;
  color: #7a5a45;
  font-size: .85rem;
}

.result-item:hover {
  background: rgba(0,0,0,0.05);
  border-radius: 6px;
}