<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS de alertas -->
    <link rel="stylesheet" href="{% static 'CSS/alerta.css' %}">

    {% block head %}{% endblock %}
</head>

<body style="background:#f9eee0; font-family: 'Voces', sans-serif;">
    <div id="global-alerts" class="msg-container"></div>

    {% block content %}{% endblock %}

    <script src="{% static 'JS/alerta.js' %}"></script>

</body>
</html>
